<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<header class="intro">
  <h1 class="intro__hello">Greetings!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <p class="intro__tagline" style="text-align:justify">I'm
    <span class="name">Prabu Madhavan</span>, Assistant Professor in the Department of Computer Science at CHRIST (Deemed to be University)
	<span class="em em-male-technologist" aria-role="presentation" aria-label=""></i>
    <!-- <span class="emoji technologist"></span> -->
  </p>

<!--   <h3 class="intro__contact">
<!--     <span>Get in touch </span> -->
<!--     <span class="emoji pointer"></span> -->
<!--     <span>
      <a href="mailto:" target="_blank" class="highlight-link">   mail id</a>
    </span> -->
 <!-- </h3> -->
 <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:https://www.linkedin.com/in/prabumadhavan/" target="_blank" class="highlight-link">more</a>
    </span>
  </h3>
</header>
